<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration file for AntRun.
  
  Use this file to override the default properties contained
  in build.xml. For example, to override the build.jar.filename
  property (which sets the name of the compiled jar file), add
  an element
  
  <jar>
    <filename>foo</filename>
  </jar>
  
  inside the <build> element.
  
  **Caveat emptor:** in some cases, changing this file and running ant
  again will result in Ant using a cached version of the old file! Run
  "ant dummy" to make sure that the correct data is being read. Otherwise
  you might need to run "ant clean" and start over.
-->
<build>
  <!-- Uncomment any of these if you want to override the build
       script's default values -->

  <!-- The project's name -->
  <name>MTNP</name>
  
  <!-- The project's version number -->
  <version>0.1.7-alpha</version>
  
  <!-- The project's author. Currently this only
  shows up in the footer of the Javadoc documentation. -->
  <author>Sylvain Hall&#233;</author>
  
  <!-- The project's main class -->
  <mainclass>ca.uqac.lif.mtnp.FrontEnd</mainclass>
  
  <!-- Installation folders -->
  <srcdir>Source/Core/src</srcdir>
  <bindir>Source/Core/bin</bindir>
  <docdir>Source/doc</docdir>
  <depdir>Source/Core/dep</depdir>
  <test>
    <srcdir>Source/CoreTest/src</srcdir>
    <bindir>Source/CoreTest/bin</bindir>
  </test>
  
  <!-- Output jar -->
  <jar>
    <filename>mtnp.jar</filename>
    <withdoc>false</withdoc>
    <withdeps>true</withdeps>
  </jar>
  
  <!--
    Write JAR dependencies here.
  -->
  <dependencies>
  	<dependency>
      <!--
      Petit Poucet. For managing provenance data
      -->
      <name>Petit Poucet</name>
      <classname>ca.uqac.lif.petitpoucet.Main</classname>
      <files>
        <zip>https://github.com/liflab/petitpoucet/releases/download/v0.2-alpha/petitpoucet-0.2-alpha.zip</zip>
      </files>
    </dependency>
    <dependency>
      <!--
      GRAL. Stand-alone plotting library
      -->
      <name>GRAL</name>
      <classname>de.erichseifert.gral.data.DataSource</classname>
      <files>
        <jar>http://www.erichseifert.de/dev/gral/0.11/gral-core-0.11.jar</jar>
        <jar>http://www.erichseifert.de/dev/vectorgraphics2d/0.11/VectorGraphics2D-0.11.jar</jar>
      </files>
    </dependency>
  </dependencies>
</build>
